.espetos img{
    width: 100%;
    height: 100%;
}

.destilados img{
    width: 100%;
    height: 100%;
}

.btn-menu{
    display: grid;
    background-color: black;
}

.btn-menu .dropdown-item{
    color: white;
    background-color: black;
}

.drink{
    color: white;
    background-color: black;
    padding: 0;
}

html{
    background-color: black;
}