@media screen and (min-width: 500px) {
    .geral{
        display: none;
    }
    .imagem img{
        display: block;
        width: 85%;
        margin-top: 1%;
    }

    .imagem{
        display: flex;
        justify-content: center;
        background-color: black;
    }

    .html{
        background-color: black;
    }
}