
@media screen and (max-width: 600px) {

.imagem{
    display: none;
}

.header div{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 10%;
}

.home{
    background-color: white;
    display: flex;
    justify-content: center
}

.home span{
    display: flex;

}

.menu{
    background-image: url(/img/background-carne.png);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu div{
    color: black;
    display: grid; 
    justify-content: center;
    padding: 12%;
    margin-bottom: 20%;
}

.info{
    background-color: sandybrown;
}

.rodape{
    visibility: visible;
    font-size: 10px;
    text-decoration: none;
    color: black;
    justify-items: center;
}

.imagem-dispositivo{
    display: none;
}

.box p {
    color: white;
    display: contents;
}

.span-box{
    display: flex;
    margin-top: 7px;
    border: solid;
    color: rgb(171 96 96);
    border-radius: 20%;
    background-color: black;
}

.span-box:hover{
    color: brown;
}

.fa-beer-mug{
    color: white;
}

.logo-cs{
    background-color: antiquewhite;
    justify-items: center;
    display: grid;
}

.logo-cs p{
    font-size: 10px;
}

.logo-cs1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-cs img{
    width: 15%;
}

}